@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
body {
  color: #fff;
  margin: 0;
  font-family: 'Oswald', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background-position: fixed; 
background-color: black;
background-repeat: no-repeat;
background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 0.1fr 2.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "top top top top" "left left left right" "left left left right";
  justify-self: center;
  border: 1px solid #3A2394;
  margin-left:120px;
  margin-right: 120px;
  margin-top: 100px;
 

  
}

.top { grid-area: top; }

.left { grid-area: left;
border-right: 1px solid #3A2394;

}

.right { 
  grid-area: right;
  margin-left:50px;


}



